# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
.venv/
env/

# Logs / temporary files
*.log
*.tmp
*.temp

# Large dataset raw annotations & caches
models/person_visdrone/VisDrone/
models/person_visdrone/.cache/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
